body{
    margin: 0px;
}

/* ------------------------------
        NAVBAR
---------------------------------*/

nav{
    padding: 30px 70px;
    background-color: #636C79;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.logo{
    margin: 0px 30px;
}

.nav-btn{
    color: #FFFFFF;
    background-color: transparent;
    padding: 10px 40px;
    border: 1px solid #ffffff7f;
    font-size: 15px;
    font-weight: 600;
    width: 150px;
}

.nav-btn:hover{
    background-color: #8BB7A2;
    border: 1px solid #8BB7A2;
    color: #10181d;

    transition: 250ms ease-in-out;
}

.nav-links{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
}

.nav-item:hover{
    color: #10181d;
    transition: 250ms ease-in-out;
}

.nav-burger{
    display: none;
}


/* -----------------------------------
        TOP SECTION
--------------------------------------*/

.top-section{
    background-color: #636C79;
    padding: 60px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.top-sect-text{
    width: 500px;
}

h1{
    margin-top: 0px;
    font-size: 57px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.top-sect-text p{
    color: #D7D9DC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    margin-bottom: 50px;
}

.input-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 5px 10px;
}

.input-div input{
    border: 0px;
    padding: 15px 75px;
}

.input-div button{
    padding: 15px 40px;
    color: #FFFFFF;
    background-color: #8BB7A2;
    border: 0px solid;
}

.input-div button:hover{
    background-color: #636C79;
    transition: 250ms ease-in-out;
}

.top-sect-img img{
    object-fit: cover;
    width: 400px;
    height: 500px;
    object-position: 50% 0%;
}

/* --------------------------------
    STATS
----------------------------------- */

.stats{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 40px 0px;
}

.stats h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    width: 600px;
    text-align: center;
}

.stat-div{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-bottom: 60px;
}

.nums h2{
    margin-bottom: 0px;
    width: 110px;
}

.stats img{
    height: 600px;
    object-fit: cover;
    object-position: 20% 0%;
    overflow-x: hidden;
}


/* -------------------------------------
        MID-SECTION
---------------------------------------- */

.mid-section{
    margin: 80px 0px;
    display: flex;
    flex-direction: column;

}

.mid-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-bottom: 60px;
}

.mid-text{
    width: 600px;
}

.mid-section-h{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 60px;
}

.mid-div-img1{
    object-fit: cover;
    width: 400px;
    height: 400px;
    object-position: 90%;
}

.mid-text h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    width: 500px;
}

.mid-text p{
    color: #636C79;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 470px;
    line-height: 24px;
    margin-bottom: 30px;

}

.mid-text button{
    background-color: #8BB7A2;
    padding: 15px 40px;
    border: 0px solid;
    font-size: 14px;
    color: #FFFFFF;
}

.mid-text button:hover{
    background-color: #636C79;
    transition: 250ms ease-in-out;
}

.mid-div-img2{
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: 50% 10%;
}

.mid-div-img3{
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: 40% 50%;
}

/* --------------------------------------
        TEAM SECTION
----------------------------------------- */

.team-section{
    margin: 100px 150px;

    display: flex;
        flex-direction: column;
        align-items: center;
}

.team-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.team-text p{
    width: 600px;
}

.team-section h2{
    font-size: 40px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.imgs-div{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    /* width: 1400px; */
    
}

.images{
    margin: 0px 50px;
    width: 300px;
}

.images img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: 50% 10%;
}

.images h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.images p{
    font-family: Arial, Helvetica, sans-serif;
    color: #636C79;
    line-height: 25px;
}

.team-btn{
    background-color: #8BB7A2;
    padding: 15px 40px;
    border: 0px solid;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 40px;
    align-items: center;
}

.team-btn:hover{
    background-color: #636C79;
    transition: 250ms ease-in-out;
}

/* ---------------------------------------
        FOOTER
------------------------------------------ */


.footer-section{
    padding: 30px 160px;
    background-color: #10181d;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
}

.footer-left{
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-r{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-r img{
    margin-right: 10px;
    padding: 12px;
    background-color: #282F34;
    border-radius: 50%;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #ffffff5a;
    margin: 20px 0px;
}

.footer-center{
    display: flex;
    justify-content: space-between;
}

.footer-center h5{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-center li{
    list-style: none;
    line-height: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #C3C5C7;
}


@media screen and (max-width: 1280px){

    /*-------------- NAV ---------------------*/
    .nav-links{
        display: none;
    }

    .nav-burger{
        display: inline-block;
        position: absolute;
        /* left: 950px; */
        right: 160px;
        margin-right: 100px;
        font-size: 25px;
    }

    /* ---------------STATS---------------------*/

    .stats{
        width: 800px;
        margin: 40px auto;
    }

    .stats h2{
        font-size: 35px;
    }

    .stat-div{
        width: 800px;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    .nums{
        width: 20%;
    }

    .stats img{
        width: 700px;
        height: 350px;
    }

    /* ----------------- MID-SECTION ---------------------*/

    .mid-section{
        margin: 80px auto;
    }

    .mid-section h2{
        font-size: 35px;
    }

    .mid-div{
        justify-content: space-around;
    }

    .mid-div img{
        width: 400px;
    }

    .team-section h2{
        font-size: 35px;
        margin-right: 40px;
    }
}


@media screen and (max-width: 768px) {

    /* ---------------- MEDIA2 - TOP-SECTION -------------------- */

    .top-sect-img img{
        width: 200px;
        height: 250px;
    }

    .top-sect-text{
        width: 350px;
    }

    .top-sect-text h1{
        font-size: 35px;
        width: 350px;
    }

    .top-sect-text p{
        font-size: 15px;
        width: 350px;
    }

    .top-sect-img{
        width: max-content;
    }

    .input-div{
        padding: 3px 5px;
    }

    .input-div input{
        padding: 5px 25px;
    }

    .input-div button{
        padding: 7px 20px;
    }

    /* -------------------- MEDIA2 - STATS -----------------------*/

    .stats{
        width: 600px;
    }

    .stats h2{
        font-size: 28px;
    }

    .nums h2{
        font-size: 22px;
    }

    .stat-div{
        width: 600px;
    }

    .stats img{
        width: 500px;
        height: 250px;
    }

    /* ------------------------ MEDIA2 - MID-SECTION ----------------- */

    .mid-section{
        margin: 80px auto;
    }

    .mid-section h2{
        font-size: 28px;
    }

    .mid-div h2{
        width: 300px;
    }

    .mid-div p{
        width: 300px;
    }

    .mid-text{
        width: 300px;
    }

    .mid-div{
        width: 700px;
        justify-content: space-around;

        margin: 0px auto;
    }

    .mid-div img{
        width: 250px;
        height: 250px;
    }

    /* ---------------- MEDIA2 - TEAM-SECTION -------------------*/

    .team-section{
        width: 700px;
        margin: 50px auto;
    }

    .team-text{
        width: 600px;
    }

    .imgs-div{
        width: 600px;
    }

    .images img{
        width: 150px;
        height: 150px;
    }

    .team-text h2{
        font-size: 28px;
    }

    /* --------------- MEDIA2 - FOOTER-SECTION ------------------*/

    .footer-section{
        padding: 20px;
    }

    .footer-center h5{
        font-size: 14px;
    }

    .footer-center li{
        font-size: 12px;
    }

    .footer-center ul{
        padding: 0px 14px;
        
    }



}